*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
}
.box1{
    background-image: url("background.jpg");
    height: 80vh;
    opacity: 0.6;
}
nav{
   
    display: flex;
    justify-content: center;
    position: relative;
    top: 26px;
}
#logo {   
    height: 38px;
}

.side{
    display: flex;
    justify-content: flex-end;
    width: 1065px;
    gap: 37px;
}

#eng{
    color: white;
    font-weight: 600;
    width: 101px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
}

#sign{
    color: white;
    background-color: red;
    font-weight: 600;
    width: 101px;
    border-radius: 5px;
    border: none;
}

#sign:hover{
    background-color: rgb(145, 37, 37);
}

.desc{
    color: white;
    position: relative;
    top: 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

#d1{
    font-weight: 900;
    font-family: 'Martel Sans';
    font-size: 51px;
}

.d2{
    font-size: 26px;
}

.d3{
    font-size: 26px;
}

#d4 input{
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid white;
   height: 60px;
   width: 400px;
   margin-right: 10px ;
}

#d4 input::placeholder{
    color: white;
    text-align: center;
    font-weight: 700;
}

#start{
    height: 60px;
    width: 120px;
    background-color: red;
    font-weight: 750;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

#start:hover{
    background-color: rgb(145, 37, 37);
}

#eng option{
    color: black;
}

.border{
    background-color: rgb(49, 42, 42);;
    height: 1vh;
}

.txt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.img img{
    height: 303px;;
}

.tv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.head{
    font-weight: 900;
    font-family: 'Martel Sans';
    font-size: 51px;
    width: 655px;
}

.next{
    font-size: 20px;
    width: 456px;
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
.faq h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.q{
    color: white;
    background-color: rgb(85, 85, 85);
    width: 1052px;
    font-size: 20px;
    padding: 20px;
    display: flex;
}

.q1{
    width: 1006px;
}
.faq .d3{
    color: white;
}
.q:hover{
    background-color: gray;
}

#contact{
    color: white;
    margin-top: 53px;
    margin-left: 113px;
    font-size: 20px;
}

.others{
    display: grid;
    width: 1500px;
    margin-top: 26px;
    margin-left: 113px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 31px;
}

.o{
    color: white;
    text-decoration: underline;
}

footer #eng{
    margin-left: 113px;
    margin-top: 20px;
    width: 101px;
    height: 30px;
}

footer{
    margin-bottom: 53px;
}

#last{
    margin-left: 113px;
    margin-top: 20px;
    color: white;
    font-family: 'Martel Sans';
}
@media screen and (max-width: 428px) {
    .box1{
        background-image: url("background.jpg");
        height: 65vh;
        opacity: 0.6;
    }
    nav{
   
        display: flex;
        justify-content: center;
        position: relative;
        top: 26px;
        flex-direction: column;
    }
    .side{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 103vw;
        gap: 10px;
        flex-direction: column;
        position: relative;
        top:50px;
    }
    #eng{
        color: white;
        font-weight: 600;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid white;
    }
    #sign{
        color: white;
        background-color: red;
        font-size: 20px;
        font-weight: 600;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        border: none;
    }
    #logo {   
        height: 40px;
    }
    #d1{
        font-weight: 900;
        font-family: 'Martel Sans';
        font-size: 21px;
    }
    .desc{
        color: white;
        position: relative;
        top: 162px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .d2{
        font-size: 18px;
    }
    .d3{
        font-size: 12px;
    }
    #d4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #d4 input{
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid white;
        height: 30px;
        width: 200px;
        margin-right: 10px ;
     }
     #start{
        height: 30px;
        width: 200px;
        background-color: red;
        font-weight: 750;
        border: none;
        color: white;
        border-radius: 5px;
        font-size: 18px;
    }
    .tv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img img{
        height: 160px;;
    }
    .head{
        font-weight: 900;
        font-family: 'Martel Sans';
        font-size: 35px;
         width: 80vw;
    }
    
    .next{
        font-size: 17px;
        width: 80vw;
    }
    .txt{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .faq h1{
        color: white;
        font-size: 25px;
        font-weight: 900;
    }
    .q{
        color: white;
        background-color: rgb(85, 85, 85);
        width: 314px;
        font-size: 16px;
        padding: 20px;
        display: flex;
    }
    .faq{
        gap: 12px;
    }
    footer{
        margin-bottom: 26px;
    }
    .others{
        display: grid;
        width: 90vw;
        margin-top: 26px;
        margin-left: 2px;
        grid-template-columns: 1fr 1fr ;
        gap: 31px;
    }
    #contact{
        color: white;
        margin-top: 100px;
       margin-left: 2px;
        font-size: 20px;
    }
    .border{
        background-color: rgb(49, 42, 42);;
        height: 1vh;
        width: 103vw;
    }
}